
$background: #121318;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2f3036;

$inverse_primary: #495d92;

$inverse_surface: #e3e2e9;

$on_background: #e3e2e9;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #182e60;

$on_primary_container: #dae2ff;

$on_primary_fixed: #001848;

$on_primary_fixed_variant: #314578;

$on_secondary: #2a3042;

$on_secondary_container: #dce2f9;

$on_secondary_fixed: #151b2c;

$on_secondary_fixed_variant: #404659;

$on_surface: #e3e2e9;

$on_surface_variant: #c5c6d0;

$on_tertiary: #422741;

$on_tertiary_container: #fed7f9;

$on_tertiary_fixed: #2b122b;

$on_tertiary_fixed_variant: #5a3d59;

$outline: #8f909a;

$outline_variant: #45464f;

$primary: #b2c5ff;

$primary_container: #314578;

$primary_fixed: #dae2ff;

$primary_fixed_dim: #b2c5ff;

$scrim: #000000;

$secondary: #c0c6dd;

$secondary_container: #404659;

$secondary_fixed: #dce2f9;

$secondary_fixed_dim: #c0c6dd;

$shadow: #000000;

$source_color: #0d48ae;

$surface: #121318;

$surface_bright: #38393f;

$surface_container: #1e1f25;

$surface_container_high: #292a2f;

$surface_container_highest: #33343a;

$surface_container_low: #1a1b21;

$surface_container_lowest: #0d0e13;

$surface_dim: #121318;

$surface_tint: #b2c5ff;

$surface_variant: #45464f;

$tertiary: #e1bbdc;

$tertiary_container: #5a3d59;

$tertiary_fixed: #fed7f9;

$tertiary_fixed_dim: #e1bbdc;

