
$background: #111318;

$error: #ffb4ab;

$error_container: #93000a;

$inverse_on_surface: #2e3035;

$inverse_primary: #3d5f90;

$inverse_surface: #e1e2e9;

$on_background: #e1e2e9;

$on_error: #690005;

$on_error_container: #ffdad6;

$on_primary: #02315e;

$on_primary_container: #d5e3ff;

$on_primary_fixed: #001c3b;

$on_primary_fixed_variant: #234776;

$on_secondary: #273141;

$on_secondary_container: #d9e3f8;

$on_secondary_fixed: #121c2b;

$on_secondary_fixed_variant: #3d4758;

$on_surface: #e1e2e9;

$on_surface_variant: #c4c6cf;

$on_tertiary: #3d2846;

$on_tertiary_container: #f7d8ff;

$on_tertiary_fixed: #27142f;

$on_tertiary_fixed_variant: #553f5d;

$outline: #8d9199;

$outline_variant: #43474e;

$primary: #a6c8ff;

$primary_container: #234776;

$primary_fixed: #d5e3ff;

$primary_fixed_dim: #a6c8ff;

$scrim: #000000;

$secondary: #bdc7dc;

$secondary_container: #3d4758;

$secondary_fixed: #d9e3f8;

$secondary_fixed_dim: #bdc7dc;

$shadow: #000000;

$source_color: #4d88d6;

$surface: #111318;

$surface_bright: #37393e;

$surface_container: #1d2024;

$surface_container_high: #282a2f;

$surface_container_highest: #32353a;

$surface_container_low: #191c20;

$surface_container_lowest: #0c0e13;

$surface_dim: #111318;

$surface_tint: #a6c8ff;

$surface_variant: #43474e;

$tertiary: #dabde2;

$tertiary_container: #553f5d;

$tertiary_fixed: #f7d8ff;

$tertiary_fixed_dim: #dabde2;

