@import "colors.scss";

* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font", monospace;
}

/* Volume */
.vol-osd {
  background-color: $surface_container; 
  border: 2px solid $outline_variant;
  border-radius: 12px;
  padding: 10px 20px;
}

.vol-icon {
  color: $primary;
  font-size: 24px;
  margin-right: 15px;
  min-width: 24px;
}

scale trough {
  all: unset;
  background-color: $surface_container_highest;
  border-radius: 12px;
  min-height: 8px;
  min-width: 200px;
}

scale highlight {
  all: unset;
  background-color: $primary;
  border-radius: 12px;
}

/* Calendar */
.cal-box {
    background-color: $surface_container; 
    border-radius: 16px;
    padding: 20px;
    border: 2px solid $primary; 
}

calendar {
    color: $on_surface; 
    padding: 5px;
}

calendar:selected {
    color: $on_primary; 
    background-color: $primary; 
}

calendar.header {
    color: $secondary;
    font-weight: bold;
}

calendar:hover {
    background-color: $surface_container_high;
}

calendar.button {
    color: $on_surface_variant;
}
