@import "colors.css";

* {
    font-family: "DejaVu Sans Mono";
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: @on_surface;
    transition-property: background-color;
    transition-duration: 0.1s;
}
button {
    box-shadow: none;
    border: none;
    border-radius: 0;
} 
#workspaces {
    background: transparent;
    margin: 8px 0;
    padding: 0;
}

#workspaces button {
    background-color: @surface_container_highest;
    color: transparent;
    padding: 2px;
    margin: 0 4px;
    font-size: 0;
    border-radius: 50%;
    transition: all 0.3s ease;
}
#workspaces button.active {
    background-color: @primary;
    padding: 1px 10px;
    border-radius: 10px;
}
#workspaces button:hover {
    background-color: @on_surface_variant;
}
#workspaces button.urgent {
    background-color: @error;
}

#clock {
    background-color: transparent;
    color: @on_surface;
    padding: 0 8px 0 8px;
    margin: 6px;
}

#clock:hover {
    background-color: @surface_container_low;
    border-radius: 8px;
}

#custom-power {
    background-color: transparent;
    color: @error;
    font-size: 20px;
    padding: 0 8px 0 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 6px;
    margin-right: 6px;
}

#custom-power:hover {
    background-color: @surface_container_low;
    border-radius: 8px;
}
