@import "colors.css";

* {
    font-family: "DejaVu Sans Mono";
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: transparent;
    color: transparent;
    transition-property: background-color;
    transition-duration: 0.1s;
    margin: 0;
    border-radius: 0px
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces {
    margin: 5px 0 5px 0;
    border-radius: 14px;
}

#workspaces button {
    background: @surface_container_low;
    border-radius: 14px;  
    color: @primary;
    padding: 0 4px;
    margin: 0 2px
}

/*.modules-left {
    background-color: @surface_container;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
}*/

#workspaces button:hover {
    border-radius: 14px;  
    background-color: @surface_container_high
}

#workspaces button.focused {
    color: @primary;
}
#workspaces button.active {
    background-color: @primary;
    color: @surface_container;
    border-radius: 14px;
    padding: 0 10px 0 10px
}

#workspaces button.urgent {
    background-color: @error;
    color: @surface_container;
    border-radius: 14px
}

#clock {
    background-color: @surface_container;
    color: @primary;
    border-radius: 14px;
    padding: 0 12px 0 12px
}

#clock:hover {
    background-color: @surface_container_high;
}

#clock.date {
    color: @on_background;
}
